/* Format tablette ( 768px - 1023px) pour la page content */

@media (min-width: 768px) and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
  }

  .entete {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 2px;
  }
  h2 {
    margin: 12px;
  }

  .aceuil {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    display: flex;
    justify-content: center;
  }
  a,
  h1 {
    color: white;
    text-decoration: none;
    padding: 3px;
  }
  .Destinations,
  .place_toBe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-left: 100px;
    row-gap: 1em;
  }
  .activites {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-left: 133px;
    row-gap: 2em;
  }

  .pieds {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1em;
    align-items: center;
    text-align: center;
  }
  img {
    margin-bottom: 1em;
  }

  /******************/

  .des_home {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  body,
  html {
    font-family: sans-serif; /* les polices de caracteres */
    height: 100%; /* 100% de la hauteur de la page  */
    font-size: 15px;
    position: relative; /* l'element par rapport à laquelle l'element à la position absolute se positionne*/
  }
  .overlay {
    position: absolute; /* la div overlay est la pour faire la surcouche tranparente noir */
    top: 0; /* avec ce top , bottom , left et right il va coller les bords */
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; /* on le met au dessus de limage grace au z-index */
  }
  body {
    background-image: url("/imgs/bacground.jpeg");
    background-size: cover; /* couvre toute la page*/
    background-repeat: no-repeat; /* ne se repete pas */
  }
  .des_home {
    position: absolute; /* elle va se positionner par rapport au body*/
    top: 42%;
    left: 0%;
    z-index: 10;
    color: white;
    font-size: large;
    align-items: center;
    text-align: center;
  }
  .entete {
    overflow: hidden;
    background-color: #333;
    position: relative;
    height: 10vh;
  }
  /* je cache les liens de la nav dans le header */
  .nav {
    display: none;
  }
  .Destinations,
  .place_toBe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    row-gap: 1em;
  }
  .activites {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    row-gap: 2em;
    margin: 0 auto;
  }
  .pieds {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0.3em;
    align-items: center;
    text-align: center;
  }
  .overlay {
    position: absolute; /* la div overlay est la pour faire la surcouche tranparente noir */
    top: 0; /* avec ce top , bottom , left et right il va coller les bords */
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; /* on le met au dessus de limage grace au z-index */
  }
}
