:root {
  --main-color: #202020;
  --color2: #96a487;
  --pane-padding: 5px 42px;
  --pading: 10px;
  --marging: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  remettre tous les elements a zero au  */

body,
html {
  font-family: sans-serif; /* les polices de caracteres */
  height: 100%; /* 100% de la hauteur de la page  */
  font-size: 16px;
  position: relative; /* l'element par rapport à laquelle l'element à la position absolute se positionne*/
}
.overlay {
  position: absolute; /* la div overlay est la pour faire la surcouche tranparente noir */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; /* on le met au dessus de limage grace au z-index */
}
a,
h1 {
  color: white;
  text-decoration: none;
  padding: 8px;
  margin-left: 25px;
  transition: color 0.3s ease; /* on mets une transition sur la couleur avec la duree et le comportement */
}
.nav_link:hover {
  color: #96a487;
}
.entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 100% de la largeur */
  height: 10vh; /* 10% de la hauteur de la page */
  top: 0; /* on le colle au dessus de la page grace aussi à la position absolute*/
  position: absolute;
  left: 0;
  z-index: 10;
  padding: 20px 40px; /* 20px haut bas 40px gauche droite*/
  background-color: rgba(0, 0, 0, 0.4);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 1em;
}
body {
  background-image: url("/imgs/bacground.jpeg");
  background-size: cover; /* couvre toute la page*/
  background-repeat: no-repeat; /* ne se repete pas */
  max-height: 900px;
}

.des_home {
  position: absolute;
  top: 42%;
  left: 12%;
  z-index: 10;
  color: white;
  font-size: x-large;
  align-items: center;
  text-align: center;
}
.des_home p {
  position: relative;
  top: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* en format tablette*/
  .entete {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 2px;
  }
  h2 {
    margin: 12px;
  }
  .aceuil {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    display: flex;
    justify-content: center;
  }
  a,
  h1 {
    color: white;
    text-decoration: none;
    padding: 3px;
  }
}
