:root {
  --main-color: #202020;
  --color2: #96a487;
  --color3: #ff7f50;
  --pading: 10px;
  --marging: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-image: url("/imgs/bacground.jpeg");
  background-size: cover; /* couvre toute la page*/
  background-repeat: repeat; /* ne se repete pas */
  background-attachment: fixed; /* Je rajoute un fixed ici pour que l'image en arriere plan ne bouge pas , ce qui cree un effet parralax*/
  max-height: 900px;
  margin: 0.5em;
  font-family: sans-serif;
  height: 100%;
  font-size: 16px;
  position: relative; /* l'element par rapport à laquelle l'element à la position absolute se positionne*/
}

a,
h1,
h2 {
  color: white;
  text-decoration: none;
  padding: 8px;
  transition: color 0.3s ease;
}
.nav_link:hover,
h2:hover {
  color: #96a487;
}
.icon {
  background: black;
  display: none;
  position: absolute; /* elle va s'afficher par rapport au header et va le serrer a droite et en haut */
  right: 0;
  top: 0;
}
.entete {
  display: flex;
  justify-content: space-between; /* les enfants de ce container sera positionner chacun dans les coins à gauche et à droite*/
  align-items: center;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px 40px;
  background-color: var(--main-color);
  position: sticky; /* on la rends fixe , elle ne bougera pas au scroll */
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 1em;
}
.Destinations,
.place_toBe,
.activites {
  display: grid; /* on active le display grid*/
  grid-template-columns: repeat(3, 1fr); /* on creer 3 colonnes */
  grid-template-rows: repeat(1, 1fr); /* 1 ligne*/
  align-items: center; /* centrer au milieu horizontalement*/
  column-gap: 1em; /* l'expace entre les colonnes*/
  border-radius: 20px; /* les coins arrondis */
  padding: 1em; /* l'espace entre le contenu et le bord de la div */
  margin: 1em;
  padding: 3em 2em;
  background-color: rgba(32, 32, 32, 0.5); /* couleur de fond */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ombre de la div */
  margin: 20px;
}

.tanzanie,
.Kenya,
.egypte,
.afrique_du_sud,
.togo,
.maroc,
.activite1,
.activite2,
.activite3 {
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(5px, 5px, 15px, 0.1);
  text-align: center;
  transition: box-shadow 0.5s ease; /* on mets une transition sur l'ombre de la div */
  padding: 1em;
}
img:hover {
  transform: translateY(
    -5px
  ); /* on deplace l'image vers le haut de 5px au survol */
}
img {
  border-radius: 8px; /* les coins arrondis de l'image */
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 2em auto; /* centrer la div */
  padding: 2em;
  row-gap: 0.7em;
  max-width: 600px;
}
.contact_us,
.pieds {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  color: white;
}
.contact_us {
  background-color: rgba(32, 32, 32, 0.5); /* couleur de fond */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ombre de la div */
}

.form input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; /* bordure de l'input */
  box-shadow: 1px 1px 1px #999; /* ombre de l'input */
}
.form {
  background-color: rgba(32, 32, 32, 0.5); /* couleur de fond */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ombre de la div */
  border-radius: 5px;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin: 1.5em;
  color: white;
  background-color: rgba(32, 32, 32, 0.5); /* couleur de fond */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ombre de la div */
}

summary {
  font-weight: bold; /* le texte du summary sera en gras */
  margin: -0.5em -0.5em 0; /* pour que le texte du summary soit aligné avec le bord de la bordure */
  padding: 0.5em;
  color: white;
}

li {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pieds .rs i {
  color: white;
}

.pieds {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.pieds .infos {
  word-spacing: 6px;
}
.afterfooter {
  align-items: center;
  text-align: center;
  color: white;
}

/*****************/

.mon_modal {
  display: none; /* je le cache par defaut */
  position: fixed; /*comme pour le background image , je mets fixed pour qu'elle ne bouge pas  */
  z-index: 5; /* on le mets en avant */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* on pourra scroll si besoin */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.content_modal {
  background-color: #fefefe;
  margin: 20% auto; /* je le centre*/
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 80% de la taillle d'écran */
}
.content_modal li {
  padding: 0.4em;
  margin: 0.2em;
}

.fermer_modal {
  color: #aaa;
  float: right;
  font-size: 20px; /* on le fait flotter a droite de la div du content*/
  font-weight: bold;
}

.fermer_modal:hover,
.fermer_modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* documentation w3Cschool*/
